* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0073e6;
    color: white;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

#news {
    padding: 2rem 0;
    text-align: center;
}

#news h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.news-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.news-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 300px;
    margin-bottom: 20px;
}

.news-card:hover {
    transform: translateY(-10px);
}

.news-card img {
    max-width: 100%;
    min-height: 70%;
    max-height: 9cqi;
    border-radius: 8px;
}

.news-card h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.news-card p {
    margin: 0.5rem 0;
}

.news-card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.news-card .btn:hover {
    background-color: #005bb5;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
